importFrom("stats", "dnorm", "plogis", "dgamma", "rpois", "density")
exportPattern("^[[:alpha:]]+")
export(plot_cut_point)
export(plot_gmm)
export(plot_mix_comps)
export(plot_mix_comps_normal)
export(plot_mm)
